CONFIG_ESP_WIFI_MODE_STA=y
CONFIG_ESPNOW_ENABLE_LONG_RANGE=n
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y
CONFIG_ESP_WIFI_NVS_ENABLED=y
CONFIG_LWIP_ESP_GRATUITOUS_ARP=y